/*142850*/
/*27496d*/
/*00909e*/
/*dae1e7*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../background/splash.jpg) no-repeat center center fixed; 
    background-size: cover;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #dae1e7;
    margin-top: 100px;
    font-size: 60px;
}
h2 {
    color: #dae1e7;
    font-size: 40px;
}
i {
    display: none;
}
.autocomplete {
    width: 500px;
    background-color: #dae1e7;
    border-radius: 10px;
    margin-top: 20px;
}
.autocomplete-items div {
    padding: 5px 10px;
}

.autocomplete-items div:hover {
    cursor: pointer;
}

.label{
    color: #dae1e7;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.autocomplete input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    outline: none;
}
.autocomplete-items div:nth-child(n+6) {
    display: none;
}
.autocomplete-active {
    background-color: #00909e;
}
hr {
    width: 550px;
    margin: 20px;
}
.temp {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
label {
    color: #dae1e7;
    font-size: 1.2rem;
    font-weight: 600;
}

button {
    background-color: #142850;
    border: none;
    padding: 10px 15px;
    color: #dae1e7;
    border-radius: 5px;
    margin: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
}
button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.github:hover {
    cursor: pointer;
}
.github {
    width: 180px;
    height: 35px;
    background-color: #142850;
    color: #dae1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 5px 0 0 0;
}
.github img {
    width: 20px;
    margin: 0 8px;
}